DynamicsCRM-WCF-Performance-Improvement/MutuaideWCF_Updated28052015/WcfTestApplication/Web References/devcrmmutuaide/MutuaideService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MutuaideWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MutuaideWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://devcrmmutuaide.jsi-groupe.com/MutuaideService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="jsonReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="tns:CustomReturnCode" />
      <xs:element minOccurs="0" name="errorLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="services" nillable="true" type="tns:ArrayOfServiceEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jsonReturn" nillable="true" type="tns:jsonReturn" />
  <xs:simpleType name="CustomReturnCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Success">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CustomerNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ContractNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CustomerWithoutContract">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RequestNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RequestFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MailNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MailInProgress">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MailClosed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewRequest">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MultipleRequest">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubTypeNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomReturnCode" nillable="true" type="tns:CustomReturnCode" />
  <xs:complexType name="ArrayOfServiceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceEntity" nillable="true" type="tns:ServiceEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceEntity" nillable="true" type="tns:ArrayOfServiceEntity" />
  <xs:complexType name="ServiceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="new_accountid" type="ser:guid" />
      <xs:element minOccurs="0" name="new_accountname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_serviceid" type="ser:guid" />
      <xs:element minOccurs="0" name="priority" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceEntity" nillable="true" type="tns:ServiceEntity" />
</xs:schema>