DynamicsCRM-WCF-Performance-Improvement/MutuaideWCF_Updated28052015/WcfTestApplication/Web References/devcrmmutuaide/MutuaideService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MutuaideService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMutuaideService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://devcrmmutuaide.jsi-groupe.com/MutuaideService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://devcrmmutuaide.jsi-groupe.com/MutuaideService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://devcrmmutuaide.jsi-groupe.com/MutuaideService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MutuaideWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMutuaideService_GetEmailByExchangeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailByExchangeId" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_GetEmailByExchangeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailByExchangeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_UpdateEmailByExchangeId_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmailByExchangeId" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_UpdateEmailByExchangeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmailByExchangeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_GetRequestByPhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_GetRequestByPhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestByPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_WelcomeCall_InputMessage">
    <wsdl:part name="parameters" element="tns:WelcomeCall" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_WelcomeCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:WelcomeCallResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_GetContractByBin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractByBin" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_GetContractByBin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractByBinResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_UpdateCustomerBin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerBin" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_UpdateCustomerBin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerBinResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_UpdatePaymentMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentMethod" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_UpdatePaymentMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_RetrieveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCustomer" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_RetrieveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_IsCustomerActive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCustomerActive" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_IsCustomerActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCustomerActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_GetLastRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastRequest" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_GetLastRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_MailValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:MailValidation" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_MailValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MailValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_SearchServices_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchServices" />
  </wsdl:message>
  <wsdl:message name="IMutuaideService_SearchServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchServicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMutuaideService">
    <wsdl:operation name="GetEmailByExchangeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/GetEmailByExchangeId" message="tns:IMutuaideService_GetEmailByExchangeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/GetEmailByExchangeIdResponse" message="tns:IMutuaideService_GetEmailByExchangeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailByExchangeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/UpdateEmailByExchangeId" message="tns:IMutuaideService_UpdateEmailByExchangeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/UpdateEmailByExchangeIdResponse" message="tns:IMutuaideService_UpdateEmailByExchangeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestByPhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/GetRequestByPhoneNumber" message="tns:IMutuaideService_GetRequestByPhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/GetRequestByPhoneNumberResponse" message="tns:IMutuaideService_GetRequestByPhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WelcomeCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/WelcomeCall" message="tns:IMutuaideService_WelcomeCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/WelcomeCallResponse" message="tns:IMutuaideService_WelcomeCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractByBin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/GetContractByBin" message="tns:IMutuaideService_GetContractByBin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/GetContractByBinResponse" message="tns:IMutuaideService_GetContractByBin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerBin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/UpdateCustomerBin" message="tns:IMutuaideService_UpdateCustomerBin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/UpdateCustomerBinResponse" message="tns:IMutuaideService_UpdateCustomerBin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/UpdatePaymentMethod" message="tns:IMutuaideService_UpdatePaymentMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/UpdatePaymentMethodResponse" message="tns:IMutuaideService_UpdatePaymentMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/RetrieveCustomer" message="tns:IMutuaideService_RetrieveCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/RetrieveCustomerResponse" message="tns:IMutuaideService_RetrieveCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCustomerActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/IsCustomerActive" message="tns:IMutuaideService_IsCustomerActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/IsCustomerActiveResponse" message="tns:IMutuaideService_IsCustomerActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/GetLastRequest" message="tns:IMutuaideService_GetLastRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/GetLastRequestResponse" message="tns:IMutuaideService_GetLastRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MailValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/MailValidation" message="tns:IMutuaideService_MailValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/MailValidationResponse" message="tns:IMutuaideService_MailValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMutuaideService/SearchServices" message="tns:IMutuaideService_SearchServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMutuaideService/SearchServicesResponse" message="tns:IMutuaideService_SearchServices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMutuaideService" type="tns:IMutuaideService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMutuaideService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmailByExchangeId">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/GetEmailByExchangeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailByExchangeId">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/UpdateEmailByExchangeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestByPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/GetRequestByPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WelcomeCall">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/WelcomeCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractByBin">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/GetContractByBin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerBin">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/UpdateCustomerBin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentMethod">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/UpdatePaymentMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCustomer">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/RetrieveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCustomerActive">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/IsCustomerActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastRequest">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/GetLastRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailValidation">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/MailValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchServices">
      <soap:operation soapAction="http://tempuri.org/IMutuaideService/SearchServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MutuaideService">
    <wsdl:port name="BasicHttpBinding_IMutuaideService" binding="tns:BasicHttpBinding_IMutuaideService">
      <soap:address location="https://devcrmmutuaide.jsi-groupe.com/MutuaideService.svc/SoapSecure" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>